.login-container .form-section{
 width: 70%;
 margin-top: 10px;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-container .product-pb{
    display: flex;
    justify-content: center;
}
.login-container a{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    text-decoration: none;
    color: #212245;
}

.login-container a:hover{
   color: #212245;
}