.register-container .form-section{
    width: 70%;
    margin-top: 10px;
   }
   
   .register-container{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .register-container .product-pb{
       display: flex;
       justify-content: center;
   }
   .register-container a{
       display: flex;
       justify-content: center;
       padding: 40px 0px;
       text-decoration: none;
       color: #212245;
   }
   
   .register-container a:hover{
      color: #212245;
   }